.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #3498db, #8e44ad);
  }
  
  .login-form {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    margin: 0 auto;
    position: relative;
  }
  
  .login-form::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border: 2px solid transparent;
    border-radius: 5px;
    
  }
  
 
  
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form input {
    width: 90%;
    margin : auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background: #2980b9;
  }
  